.rich-messages-marker img {
	padding-right: 7px;
}

.rich-message-marker img {
	padding-right: 7px;
}

.rich-messages-label {
	font-style: italic;
}

.rich-message-label {
	font-style: italic;
	font-size: 11;
}

.info {
	color: green;
}

.error {
	color: red;
}

.dr-mpnl-pnl {
	overflow:auto!important
}
