<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true">		
		<intercept-url pattern="/**/*.css" filters="none" />
		<intercept-url pattern="/**/*.js" filters="none" />
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/**/*.xcss/**" filters="none" />
		
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
 
		<form-login
			login-processing-url="/j_spring_security_check"
			login-page="/login.jsf"
			default-target-url="/index.jsf" always-use-default-target="true"
			authentication-failure-url="/login.jsf" />
			
		<logout logout-url="/logout*" logout-success-url="/index.html" />
	</http>

	<authentication-provider>
		<user-service>
			<user name="duilio" password="duilio" authorities="ROLE_USER, AccountManager" />
			<user name="sergio" password="sergio" authorities="ROLE_USER, AccountManager" />
			<user name="nico" password="nico" authorities="ROLE_USER, AccountManager" />
			<user name="nacho" password="nacho" authorities="ROLE_USER, AccountManager" />
			<user name="juan" password="juan" authorities="ROLE_USER, Agent" />
			<user name="jose" password="jose" authorities="ROLE_USER, Agent" />
			<user name="lorena" password="lorena" authorities="ROLE_USER, Agent" />
			<user name="pablo" password="pablo" authorities="ROLE_USER, Agent" />
			<user name="damian" password="damian" authorities="ROLE_USER, Agent" />
			<user name="martin" password="martin" authorities="ROLE_USER, Agent" />
			<user name="augusto" password="augusto" authorities="ROLE_USER, Agent" />
			<user name="ernesto" password="ernesto" authorities="ROLE_USER, Agent" />
			<user name="josefina" password="josefina" authorities="ROLE_USER, Agent" />
			<user name="graciela" password="graciela" authorities="ROLE_USER, Agent" />
			<user name="tamara" password="tamara" authorities="ROLE_USER, Agent" />
			<user name="Romualdo" password="pepe" authorities="ROLE_USER, Supervisor" />
			<user name="Aristobulo" password="pepe" authorities="ROLE_USER, Supervisor" />
			<user name="Sabrina" password="pepe" authorities="ROLE_USER, Supervisor" />
			<user name="Gerardo" password="pepe" authorities="ROLE_USER, Supervisor" />
			<user name="German" password="pepe" authorities="ROLE_USER, Supervisor" />
			<user name="Tatiana" password="pepe" authorities="ROLE_USER, Supervisor" />
		</user-service>
	</authentication-provider>


</beans:beans>