<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true">		
		<intercept-url pattern="/**/*.css" filters="none" />
		<intercept-url pattern="/**/*.js" filters="none" />
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/**/*.xcss/**" filters="none" />
		
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
 
		<form-login
			login-processing-url="/j_spring_security_check"
			login-page="/login.jsf"
			default-target-url="/index.jsf" always-use-default-target="true"
			authentication-failure-url="/login.jsf" />
			
		<logout logout-url="/logout*" logout-success-url="/index.html" />
	</http>

	<authentication-provider>
		<user-service>
			<user name="jefe1" password="123" authorities="ROLE_USER, AccountManager" />
			<user name="jefe2" password="123" authorities="ROLE_USER, AccountManager" />
			<user name="jefe3" password="123" authorities="ROLE_USER, AccountManager" />
			<user name="acoca1" password="123" authorities="ROLE_USER, Agent" />
			<user name="acoca2" password="123" authorities="ROLE_USER, Agent" />
			<user name="acoca3" password="123" authorities="ROLE_USER, Agent" />
			<user name="aclarin1" password="123" authorities="ROLE_USER, Agent" />
			<user name="aclarin2" password="123" authorities="ROLE_USER, Agent" />
			<user name="aclarin3" password="123" authorities="ROLE_USER, Agent" />
			<user name="aclarin4" password="123" authorities="ROLE_USER, Agent" />
			<user name="alanacion1" password="123" authorities="ROLE_USER, Agent" />
			<user name="alanacion2" password="123" authorities="ROLE_USER, Agent" />
			<user name="alanacion3" password="123" authorities="ROLE_USER, Agent" />
			<user name="alanacion4" password="123" authorities="ROLE_USER, Agent" />
			<user name="scoca1" password="123" authorities="ROLE_USER, Supervisor" />
			<user name="scoca2" password="123" authorities="ROLE_USER, Supervisor" />
			<user name="sclarin1" password="123" authorities="ROLE_USER, Supervisor" />
			<user name="sclarin2" password="123" authorities="ROLE_USER, Supervisor" />
			<user name="slanacion1" password="123" authorities="ROLE_USER, Supervisor" />
			<user name="slanacion2" password="123" authorities="ROLE_USER, Supervisor" />
		</user-service>
	</authentication-provider>


</beans:beans>